@use 'tailwindcss';
@plugin "daisyui" {
  themes:
    light,
    dark,
    cupcake,
    bumblebee,
    emerald,
    corporate,
    synthwave,
    retro,
    cyberpunk,
    valentine,
    halloween,
    garden,
    forest,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    black,
    luxury,
    dracula,
    cmyk,
    autumn,
    business,
    acid,
    lemonade,
    night --default,
    coffee,
    winter,
    dim,
    nord,
    sunset,
    caramellatte,
    abyss,
    silk;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

app-root {
  display: block;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
